CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.idx
/debug
/release
qcustomplot2.dll
Makefile.Debug
Makefile.Release
*.stash
weather_port.pro.user.c340bc7
weather_port_resource.rc
weather_port.pro.user
